MONGODB_URI=mongodb://rohitvis695_db_user:XR5I0hkLPGvFzrZT@ac-az8d4db-shard-00-00.rgfti1h.mongodb.net:27017,ac-az8d4db-shard-00-01.rgfti1h.mongodb.net:27017,ac-az8d4db-shard-00-02.rgfti1h.mongodb.net:27017/?ssl=true&replicaSet=atlas-g5ruxr-shard-0&authSource=admin&appName=Cluster0
